extends layout

block content
  h1= Headtitle
  p #{number}
  p #{kind}
  p #{name}
  p #{description}
  p #{zipcode}
  p #{address}
  p #{representative}
  p #{telNumber}
  p #{faxNumber}
  p #{mailAddress}
  p #{status}
  p #{tokki}
